root = true

[*.cs]

# ============================================
# Formatting
# ============================================

indent_style = space
indent_size = 4
tab_width = 4

end_of_line = lf
insert_final_newline = true

csharp_new_line_before_open_brace = all


# ============================================
# Braces
# ============================================

csharp_prefer_braces = true:error


# ============================================
# Expression-bodied members
# ============================================

csharp_style_expression_bodied_methods = false:error
csharp_style_expression_bodied_constructors = false:error


# ============================================
# Primary constructors
# ============================================

csharp_style_prefer_primary_constructors = false:error


# ============================================
# var
# ============================================

csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion


# ============================================
# Namespace
# ============================================

csharp_style_namespace_declarations = file_scoped:error


# ============================================
# Usings
# ============================================

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false


# ============================================
# Qualification
# ============================================

dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion


# ============================================
# Language simplification
# ============================================

dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_prefer_null_propagation = true:suggestion
dotnet_style_prefer_coalesce_expression = true:suggestion

csharp_style_prefer_pattern_matching = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion


# ============================================
# Accessibility
# ============================================

dotnet_style_require_accessibility_modifiers = always:suggestion


# ============================================
# readonly
# ============================================

dotnet_style_readonly_field = true:warning


# ============================================
# Formatting diagnostics
# ============================================

dotnet_diagnostic.IDE0055.severity = error